<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="connectionString" connectionString="server=mysql.stejin.org;User Id=stejin;password=kana55;Persist Security Info=True;database=kanjidatabase"
            providerName="MySql.Data.MySqlClient" />
        <!-- <add name="connectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=KanjiDatabase;User Id=sa;Password=sentry;"
          providerName="System.Data.SqlClient" />  -->
    </connectionStrings>
</configuration>